<div class="background-body-header">
    @Html.Partial("Navbar")
    <div class="head-container">
        <div class="inner-head-container">
            <div class="head">
                <div class="inner-head wow fadeIn">
                    <h1 class="body-heading"> WELCOME TO BODY HUNKS</h1>
                    <p>FORGING EVERYDAY ATHLETES, JUST LIKE YOU,<br> IN OUR ELITE CROSSFIT FACILITY IN GHAZIABAD</p>
                </div>
            </div>
        </div>
    </div>
</div>

