<div class="sec-services">
    <h1 class="ser-heading text-center">Our Services</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="card card-custom wow fadeIn">
                    <div class="text-center">
                        <img class="img-fluid" width="100" height="100" src="~/images/plan.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="text-center font-fam">NUTRITION</h5>
                        <p class="card-text font-fam">We have partnered with Myobrain nutrition to offer 1-on-1 nutrition coaching. It follows science-based individual plans and a coach will guide you throughout the entire process.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card card-custom  wow fadeIn">
                    <div class="text-center">
                        <img class="img-fluid" width="100" height="100" src="~/images/icons8-gym-machine-100.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class=" text-center font-fam">FACILITY</h5>
                        <p class="card-text font-fam">We have a 6,000 sq ft facility equipped with many new pieces of Concept 2, Rogue, & Assault Fitness cardio equipment. We also have two large garage doors open to allow outdoor activity, fresh air and natural lighting.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card card-custom  wow fadeIn">
                    <div class="text-center">
                        <img class="img-fluid" width="100" height="100" src="~/images/exercises.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="text-center font-fam">PROGRAMS</h5>
                        <p class="card-text font-fam">We offer CrossFit, Powerlifting, Olympic Weightlifting, Yoga and Nutrition Coaching. Our programs are designed to be scalable for those just starting out, all the way to high level athletes.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>