@model IEnumerable<BodyHunkGym.Blog>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBlogs</title>
</head>
<body>
    <div> 
        <h2>
            @foreach(var item in Model) { 
                     @Html.DisplayFor(modelItem => item.blog_owner)
          }
        </h2>
    </div>
</body>
</html>
