<!DOCTYPE html>
<html>
<head>
    <script src="~/Content/Index.js"></script>
    <link rel="stylesheet" href="~/Content/Index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <script src="~/Content/wow.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
</head>
<body>
    @Html.Partial("Header")
    <section>
       @Html.Partial("Services")
    </section>
    <section>
        <div>
            <div class="head-container2">
                <div class="row">
                    <div class="col-md-6 left-mid">
                        <div class="inner-head">
                            <h2 class="btb">BE THE BEST</h2>
                            <h1 class="vrs">VERSION</h1>
                            <h2 class="btb">OF YOU</h2>
                            <div class="">
                                <p class="text-center"><strong><br> </strong>If you are looking to lose weight,<br> we’ve got you covered, fitness treadmills,<br> seated bikes&nbsp; and cross trainers, stepper,<br> wattbike and rowing machine with<br> more additions to come in the Future</p>
                                <p class="text-center"><span></span></p>
                                <p class="text-center"><span></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 right-mid">
                        <div class="inner-head">
                            <div class="vrs2">
                                <p class="text-center">GAIN •&nbsp;LOSE • FIGHT</p> 
                                <p class="text-center">• IMPROVE</p>
                            </div>
                            <p class="text-center">
                                Membership is just Rs. 1500 a month, with no contract or joining fee. Call in at Green Lane, Tewkesbury for a no-obligation visit. Real Steel Fitness Gym Tewkesbury.
                            </p>
                            <div>
                                <button class="btn btn-primary">JOIN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        @Html.Partial("Carousel")
    </section>
</body>

</html>
